*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header{
  display: flex;
  align-items: flex-end;
  background-image: url('./IMG/001.jpg');
  justify-content: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  
  height: 100vh;
  background-attachment: fixed;
  color: azure;

}

.navbar{
display: flex;
justify-content: space-between;
width: 90%;
text-align: center;
align-items: center;

}

.brend{
  display: flex;
  width: 40%;
  
}


.menu-items{
  display: flex;
  justify-content: space-between;
  width: 30%;
}

.brend-name h1{
  font-size: 35px;
  font-weight: 100;
}

.brend-name h6{ 
  font-size: 20px;
  font-weight: 100;
}
.item{
  list-style-type: none;
  color: azure;
  text-decoration: none;
}


.footer-contanier{
  display: flex;
  justify-content: center;

}
.footer-contanier .navbar{
  width: 50%;
  color: rgb(123, 122, 122);

  text-align: center;
}

.footer-contanier .navbar h2{
  font-weight: 200;
  align-items: center;
  margin: 40px;
}